<form>
  <div class="form-group">
    <div class="row p-3">
      <label class="col-md-3 p-3 text-right" for="taskName">Task Name</label>
      <input class="col-md-3 p-3 form-control form-control-lg"
             id="taskName" type="text" placeholder="Task Name" name="taskName"
             [(ngModel)]="task.taskName">
     </div>

    <div class="row p-3">
      <label class="col-md-3 p-3 text-right" for="priority">Priority (1 to 30)</label>
      <div class="col-md-2 pt-3">
        <input class="form-control-range slider"
               type="range" id="priority" min="0" max="30" name="priority"
               [(ngModel)]="task.priority">
      </div>
      <div class="col-md-1 pt-3 text-center">
        <span>{{task.priority}}</span>
      </div>
      </div>
    <div class="row p-3">
      <label class="col-md-3 p-3 text-right" for="parentTaskName">Parent Task Name</label>
      <input class="col-md-3 p-3 form-control form-control-lg"
             id="parentTaskName" type="text" placeholder="Parent Task Name" name="parentTaskName"
             [(ngModel)]="task.parentTaskName">
    </div>
    <div class="row pt-3 pl-2">
      <label class="col-md-3 p-3 text-right" for="startDate">Start Date</label>
      <input class="col-md-3 p-3 form-control form-control-lg"
             id="startDate" type="date" placeholder="Start Date" name="startDate"
             [(ngModel)]="task.startDate">
     </div>
    <div class="row pt-3 pl-2">
      <label class="col-md-3 p-3 text-right" for="endDate">End Date</label>
      <input class="col-md-3 p-3 form-control form-control-lg"
             id="endDate" type="date" placeholder="End Date" name="endDate"
             [(ngModel)]="task.endDate">

    </div>
    <div class="row p-3 text-center">
      <span class="col-md-3 p-3 text-right"></span>
      <button class="btn btn-success" (click)="addTask()">Add Task</button> &nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-success" (click)="reset()">Reset</button>

    </div>
  </div>
</form>
